<div class="container">
    <div class="row md-12">

<form action="/tasks/{{_id}}?_method=PUT" method="POST">
<input type="text" name="title" value="{{title}}">
<textarea name="description" cols="30" rows="3">{{description}}</textarea>
<button type="submit">Save</button>
</form>

    </div>
</div>
